<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614827171536-l178e0scshjttnrssgvr3n0g759nhqvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614827171536-l178e0scshjttnrssgvr3n0g759nhqvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDxRlWNzXMYI6xUhBD9Lh7FS2rfwZIO-Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>614827171536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.margibhatt.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ab1e3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ab1e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614827171536:ios:00d49936bf451225fa48d5</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-ab1e3.firebaseio.com</string>
</dict>
</plist>